---
layout: default
---

<div class="home">

  <h1 class="page-heading">{{page.entrada}}</h1>
  

  {{ content }}

  <ul class="post-list">
  <li> ¿Es importante la música en nuestras vidas?</li>
  <p>Sí, la música es muy importante para todos nosotros, vivimos en un tiempo en el que precisamente eso, la falta de tiempo tiene una enorme repercusión para todos, dedica parte de tu tiempo a escuchar música que despierte tus emociones, porque esas emociones te proporcionaran felicidad en la vida.</p> 
  <p> Haciendo un buen uso de la música como herramienta para la lucha contra por ejemplo, el estrés de nuestros días, puedes conseguir una mayor felicidad en la vida, aprovecha las ventajas que ofrece la música para despertar emociones. </p>
  </ul>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/IXv2KjFEL7w" frameborder="0" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/If_T1Q9u6FM" frameborder="0" allowfullscreen></iframe>
  
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
