---
layout: default
---

<div class="home">

  <h1 class="page-heading">{{page.entrada}}</h1>
  
  {{ content }}


  <ul class="post-list">
   Ahora miraremos un poco mas sobre mi pagina estatica..    
  </ul>

  <ul> Mira aquest video sobre com ha canviart l'estil de la musica a traves del anys.</ul>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/AdNtyq808p4" frameborder="0" allowfullscreen></iframe>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
