---
layout: default
---

<div class="home">

  <h1 class="page-heading">{{page.entrada}}</h1>
  
  {{ content }}

  <ul class="post-list">
	{% assign leyendas = site.categories.legends | sort: 'title'  %}
    {% for post in leyendas %}
      <ul>
      <li>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </li>
      </ul>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
			
