---
layout: default
---

<div>

{% assign tags = site.tags | sort %}
{% for tag in tags %}
 <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
 <span class="cloud">
    <a href="/tag/{{ tag | first | slugify }}/"
        style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">
            {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
    </a>
</span>

   
    <ul>
        {% for xpost in site.tags[tag] %}
            <a class="post-link" href="{{xpost.url | relative_url}}">{{ xpost.title | escape }}</a>
        {% endfor %}
    </ul>

{% endfor %}

</div>
