---
layout: default
---

<div>

{% assign tags = site.tags | sort %}
{% for tagi in tags %}
 <span>
    <a href="/tag/{{ tag | first | slugify }}/" 
    style="font-size: {{ tagi | last | size  |  times: 4 | plus: 80  }}%">
            {{ tagi[0] | replace:'-', ' ' }} ({{ tagi | last | size }})
    </a>
</span>

    <ul>
        {% for xpost in site.tags[tagi]}} %}
            <li> {{ xpost.url | absolute_url }} </li>
            <a href="{{xpost.url | relative_url }}">{{ xpost.title | escape }}</a>
        {% endfor %}
    </ul>

{% endfor %}

</div>
